#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_ERGOKEEB_CORNE_LEFT
    bool "ergokeeb_corne left"
    depends on SOC_NRF52840_QIAA

config BOARD_ERGOKEEB_CORNE_RIGHT
    bool "ergokeeb_corne right"
    depends on SOC_NRF52840_QIAA
